.product_list_section {
  position: relative;
}
.product-filter {
  position: absolute;
  left: 10px;
  top: 0px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 1rem;
  padding: 0px 24px 16px 24px;
}
@media (min-width: 1024px) {
  .product_list_section {
    display: flex;
    padding: 0px 96px;
    gap: 0.5rem;
  }
  .noflex_update {
    display: block;
  }
  .product-filter {
    position: static;
    width: 300px;
    min-width: 300px;
  }
  .product-list {
    padding: 0px 0px 16px;
  }
}
