.product-item {
  width: 48%;

  /* border: 1px solid red; */
}
.product_item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  /* height: 400px; */
  /* border: 3px solid green; */
}

.product-image {
  height: 280px;
  object-fit: contain;
}

.product-details {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  gap: 8px;
}
.title_heart {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1.5rem;
}
.heart-icon {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

.product-title {
  letter-spacing: 0;
  font-family: Simplon Norm Bold;
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 100%;
  color: #252020;
  font-weight: 700;
  text-transform: uppercase;
}

.product-description {
  text-transform: capitalize;
  font-family: "Simplon Norm Regular";
  font-size: clamp(10px, 1.2vw, 14px);
  line-height: 100%;
  letter-spacing: 0;
  color: #888792;
}
@media (min-width: 1024px) {
  .product-item {
    width: 31.5%;
  }
}
