.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Top section */
.footer__top {
  padding-bottom: 24px;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.footer__newsletter_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h4 {
    font-family: "Simplon Norm Bold";
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
  }
  p {
    letter-spacing: 0px;
    line-height: 20px;
    font-family: Simplon Norm Regular;
    font-size: 14px;
  }
}
.newsletter-form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
  .newsletter-form__input {
    background-color: white;
    padding: 12px 16px;
    border-radius: 4px;
    outline: none;
    font-family: "Simplon Norm Regular";
    font-size: 18px;
    color: black;
    vertical-align: middle;
    flex-grow: 1;
  }
}
.newsletter-form__button {
  padding: 14px 18px;
  border: 1.14px solid #ffffff;
  background-color: #000000;
  opacity: 30%;
  border-radius: 5px;
  font-family: "Simplon Norm Regular";
  font-size: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contact__currency {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0px;
  border-bottom: 1px solid #fff;
}

.footer__title {
  font-family: "Simplon Norm Bold";
  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mobile {
  display: none;
}
.desktop {
  display: none;
}
.footer__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0;
  font-family: Simplon Norm Regular;
  font-size: 14px;
  gap: 1rem;
}
.footer__currency {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.currency {
  display: flex;
  align-items: center;
  gap: 5px;
}
.currency__code {
  font-family: "Simplon Norm Bold";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  vertical-align: middle;
}
.footer__note {
  font-family: "Simplon Norm Regular";
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
}

/* Bottom section */
.footer__bottom {
  /* padding-top: 24px; */
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column {
  width: 100%;
}
.footer__heading-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__heading {
  font-family: "Simplon Norm Bold";
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  a {
    text-decoration: none;
    font-family: "Simplon Norm Regular";
    font-size: 18px;
    line-height: 100%;

    vertical-align: middle;
    color: #ffffff;
  }
}
.muse-hidden {
  li {
    display: none;
  }
}
.links-hidden {
  li {
    display: none;
  }
}
.footer__social {
  display: flex;
  gap: 12px;
}

.footer__payments {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.payments {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 24px;
}
.social_payment-hidden {
  display: none;
}

.brand-links,
.quick-links,
.social-payments {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 24px 0px;
}
/* Copyright section */
.footer__copyright {
  font-family: "Simplon Norm Regular";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

@media (min-width: 350px) and (max-width: 600px) {
  /* Footer  */
  .footer__top {
    flex-direction: column;
  }

  .footer__note {
    display: none;
  }
  .para-desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .social_payment-hidden {
    display: flex;
  }
  .footer {
    padding: 48px 48px 32px 96px;
  }
  .footer__newsletter {
    border: none;
  }
  .footer__contact {
    border: none;
  }
  .footer__newsletter {
    width: 50%;
  }
  .footer-contact__currency {
    width: 40%;
  }
  .footer__heading {
    font-size: 20px;
  }
  .footer__title {
    font-size: 20px;
  }
  .para-mobile {
    display: none;
  }
  .footer__contact {
    margin-bottom: 18px;
    padding: 0;
  }
  .footer__text {
    flex-direction: column;
    align-items: normal;
    svg {
      display: none;
    }
  }
  .desktop {
    display: inline;
  }
  .newsletter-form__button {
    padding: 16px 36px;
  }
  /* footer-bottom */
  .footer__bottom {
    flex-direction: row;
  }
  .arrow-down-btn {
    display: none;
  }

  .brand-links,
  .quick-links,
  .social-payments {
    border: none;
  }
  .footer__column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .muse-hidden,
  .links-hidden {
    li {
      display: block;
    }
  }
  .social_with_payments {
    width: 40%;
  }
}
