.hero-page {
  justify-content: center;
  align-items: center;
  /* padding-bottom: 24px; */
  display: flex;
  height: 168px;
  margin: 48px auto;
}
.hero-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 350px;
  max-width: 721px;
  display: flex;
}
.title {
  text-align: center;
  font-family: "Simplon Norm Regular";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #252020;
}
.details {
  letter-spacing: 0;
  text-align: center;
  font-family: "Simplon Norm Regular";
  font-size: 16px;
  line-height: 22px;
}
@media (min-width: 1024px) {
  .details {
    font-size: 22px;
    line-height: 40px;
  }
  .title {
    font-size: 60px;
  }
}

@media (min-width: 350px) and (max-width: 768px) {
  .hero-page {
    margin: 0px auto;
    height: 127px;
  }
}
